@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarala&family=Source+Sans+Pro:ital@1&family=Suez+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #121212;
}
::-webkit-scrollbar {
    width: 8px;

}
::-webkit-scrollbar-track {
    background: rgb(31, 31, 31);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(10deg, rgba(90,255,234,1) 0%, rgba(48,243,244,1) 30%, rgba(19,200,251,1) 59%, rgba(0,181,255,1) 85%);
    /*background: linear-gradient(90deg, rgba(71,255,148,1) 12%, rgba(67,247,169,1) 35%, rgba(65,243,166,1) 56%, rgba(64,240,161,1) 75%, rgba(63,237,159,1) 92%); */
    border-radius: 16px;
}

/*------------------------CABEÇALHO------------------------*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #121212;
    padding: 16px;
}

.cabecalho-image {
    width: 50px;
    top: 10px;
}

.cabecalho-menu {
    font-size: 17px;
    display: flex;
    gap: 70px;
    position: relative;
    left: -80px;
}

.cabecalho-item {
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 28px; 
}
/*------------------------HOME-------------------------*/
.conteudo-primario {
    border-top: 2px solid rgba(66, 66, 66, 0.384);
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: -50px;
}

.segunda-frase {
    display: flex;
    flex-direction: column;
    position: relative;
    top:  150px;
    padding: 70px;
    left: -350px;
}

.frase-titular {
  font-size: 34px;
  color: #c4c4c4;
  position: relative;
  top: -110px;
  left: 55px;
}

.frase-secundaria {
    font-size: 60px;
    position: relative;
    top: -100px;
    left: 52px;
    color:rgb(90, 255, 234); /* 8, 211, 143 */
}
.secundaria-subtitulo {
  color: #c4c4c4;
  position: relative;
  top: -80px;
  left: 55px;
}

.terceira-frase {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    position: relative;
    font-size: 18px;
    left: 350px;
    top: -100px;
}

.imagem-conteudo-primario {
    display: flex;
    position: relative;
    top: -230px;
    height: 400px;
    left: 329px; 
}

/*---------BOTÃO/HOME-------*/

.botao-principal {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 150px;
    left: -290px;
    gap: 150px;

}

.botao__principal-linkedin {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    gap: 20px;
    position: relative;
    border-radius: 8px;
    background-color: #121212;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #c4c4c4;
    height: 50px;

}
.linkedin {
    position: relative;
    top: -3px;
    width: 24px;
}

.botao__principal-github {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    gap: 20px;
    position: relative;
    border-radius: 8px;
    background-color: #121212;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #c4c4c4;
    height: 50px;

}

.github {
    position: relative;
    top: -3px;
    width: 24px;
}

/*------------------------SOBRE MIM-------------------------*/
.conteudo-sobremim{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 350px;
    background: #151515;
}
.myself{
    position: relative;
    left: -400px;
    top: -100px;
    width: 250px;
    border-radius: 300px;
}
.sobremim-frase {
    color: #c4c4c4;
    position: relative;
    top: -260px;
}

.linha-sobremim {
    position: relative;
    top: -250px;
    border-radius: 2px;
}
.terceira-frase-sobremim{
    color: #c4c4c4;
    word-break: break-all;
    position:  relative;
    top: -160px;
    left: -100px;
}
.botao-curriculo {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    gap: 20px;
    position: relative;
    border-radius: 8px;
    background-color: #151515;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    height: 50px;
}

/*------------------------PORTFOLIO------------------------*/
.conteudo-secundario{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 350px;
    background: #121212;
}
.portfolio-frase {
  color: #c4c4c4;
  position: relative;
  top: -260px;
}
.botão-portfolio {
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    gap: 20px;
    position: relative;
    border-radius: 8px;
    background-color: #121212;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #c4c4c4;
    height: 50px;

}
/*------------------------CONTATO------------------------*/
.conteudo-contato{
    background: #151515;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 350px;
}
.divisao-frase{
  position: relative;
  top: -250px;
  left: 40px;
  color: #c4c4c4;
}
/*------------------------RODAPÉ------------------------*/
.rodape{
    border-top: 2px solid rgba(66, 66, 66, 0.384);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: #121212
}
.frase-final{
  color: #c4c4c4;
}
